.productView{
        display: block;
        justify-content: center;
        box-sizing: content-box;
        font-size: 1.6rem;
        font-weight: 400;
        font-family: "Work Sans", sans-serif;    
        
}
