.carousel{
    color: black;    
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.carousel-item{ 
    height: 50rem;
    align-items: center;
    color: black;
}

.carousel-item img{
    height: 50rem;

}

.carousel-control-prev-icon{
    background-color:rgb(217, 49, 117);
    border: 1px solid rgb(218, 218, 218);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

.carousel-control-next-icon{
    background-color:rgb(217, 49, 117);
    border: 1px solid rgb(218, 218, 218);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}