.cart-style {
    color: black;
    font-size: 1.5rem;
  }
  .cartCant {
    background: rgb(207, 0, 150) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
  }
  
  .cartWidget {
    position: relative;
  }