/***-de 640px***/
@media (max-width: 640px){
    .footer{
        width: 100%;
        max-width: 640px;
        display: block;
        justify-content: center;
        box-sizing: content-box;
        background-color: rgb(255, 255, 255);
        padding-left: auto;
        padding-right: auto;
        font-size: 1;
        font-weight: 400;
        font-family: "Work Sans", sans-serif;    
        margin: 1rem auto;
    }

    hr{
        width: 100%;
        border-right: none;
        border-bottom: none;
        border-left: none;
        border-image: initial;
        border-top: 1px solid rgb(218, 218, 218);
        grid-column: 1 / -1;
        margin-left: 3rem;
    }
}

/***+ de 1200px***/
@media (min-width: 1200px){
    .footer{
        width: 100%;
        max-width: 1280px;
        display: block;
        justify-content: center;
        box-sizing: content-box;
        background-color: rgb(255, 255, 255);
        padding-left: 0rem;
        padding-right: auto;
        font-size: 16px;
        font-weight: 400;
        font-family: "Work Sans", sans-serif;    
        margin: 1rem auto;
    }

    hr{
        width: 100%;
        border-right: none;
        border-bottom: none;
        border-left: none;
        border-image: initial;
        border-top: 1px solid rgb(218, 218, 218);
        grid-column: 1 / -1;
        margin-left: 3rem;
    }
}